---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentYear = new Date().getFullYear();
---

<footer
    class="px-4 pt-8 pb-20 sm:px-8 text-muted-foreground"
    aria-label="Footer"
>
    <div class="w-full max-w-4xl mx-auto">
        <div class="flex flex-col items-center gap-4 text-center text-sm">
            <p class="font-medium">
                <time datetime={currentYear.toString()}>
                    <span style="font-family: system-ui, sans-serif;">©</span>
                    {currentYear}
                </time>
                <!-- -->William Blondel
            </p>
            <nav aria-label="Footer navigation">
                <ul
                    class="flex flex-wrap justify-center gap-4 text-sm tracking-wide"
                >
                    <li>
                        <a
                            class="transition hover:text-foreground"
                            href={`${import.meta.env.BASE_URL}${lang}/archive/`}
                            >{t("footer.archive")}</a
                        >
                    </li>
                    <li>
                        <a
                            class="transition hover:text-foreground"
                            href={`${import.meta.env.BASE_URL}${lang}/tags/`}
                            >{t("footer.tags")}</a
                        >
                    </li>
                </ul>
            </nav>
            <div class="pt-8 flex justify-center gap-6">
                <a
                    target="_blank"
                    rel="noopener"
                    class="flex items-center gap-2 text-sm transition hover:text-foreground"
                    title="Sitemap"
                    href={`${import.meta.env.BASE_URL}sitemap-index.xml`}
                    ><Icon
                        name="fa6-solid:sitemap"
                        class=""
                        aria-hidden="true"
                    /><span>Sitemap</span>
                </a><a
                    target="_blank"
                    rel="noopener"
                    class="flex items-center gap-2 text-sm transition hover:text-foreground"
                    title="RSS Feed"
                    href={`${import.meta.env.BASE_URL}${lang}/rss.xml`}
                    ><Icon
                        name="fa6-solid:rss"
                        class=""
                        aria-hidden="true"
                    /><span>RSS</span>
                </a>
            </div>
        </div>
    </div>
</footer>
